= form_for [:admin, @presentation] do |f|
  %fieldset
    = f.label :topic, "Temat"
    = f.text_field :topic
  %fieldset
    = f.label :link, "Link"
    = f.text_field :link
  %fieldset
    = f.label :user_id, "Speaker"
    = select :presentation, :user_id, User.all.map { |u| [u.to_s, u.id] }
  %fieldset
    = f.submit 'Edytuj'
