= form_for [:admin, @event] do |f|
  = f.datetime_select :planned_at, :include_blank => true
  = f.submit 'zaplanuj'

- if @newest_event
  %section.todo
    = form_tag tasks_admin_event_path(@newest_event), method: :put do
      %h1 Lista zadań do zrobienia:
      %ul
      - @newest_event.tasks.each do |task|
        %li
          = check_box_tag 'tasks[]', task.id, task.finished
          = task.body
      = submit_tag 'Zapisz'

%ul= render @events
