!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %title= title yield(:page_title)
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = javascript_tag do
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6947587-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    - if current_user
      .github
        = link_to "Wyloguj", logout_path, :class => 'button big danger'
    %header
      = link_to root_path do
        %h1
          .lodz Łódź
          .ruby Ruby
          .user_group User Group
    .main
      = yield
    = content_tag(:div, flash.alert, :class => 'alert') if flash.alert
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
    = link_to image_tag('https://shellycloud.com/assets/badge.png'), 'https://shellycloud.com', style: 'position: fixed; bottom: 1em; right: 1em;'

