!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %title LRUG
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1
        .lodz Łódź
        .ruby Ruby
        .user_group User Group
    = yield
    %footer
      %ul
        %li> wcześniejsze prezentacje
        %li= link_to 'kod źródłowy strony', 'https://github.com/bkzl/lrug.pl'
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"